<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MediaTech</a>
        {{#if user}}
        <a class="navbar-brand"  href="/posts"><i class="fa fa-globe"></i></a>
        <a class="navbar-brand" href="/mentors"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
        </svg></a>

        <a class="navbar-brand" href="http://rohit369.pythonanywhere.com/"><img src="https://img.icons8.com/plasticine/42/000000/teacher.png" /></a>
        {{else}}
        {{/if}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-list"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://forms.gle/6WU5pHy8jopcJSiW8">Register as Mentor</a>
                </li>
                {{else}}
                {{/if}}
                {{#if user}}
                <li class="nav-item">
                    <a class="navbar-brand" href="/logout"><i class="fa fa-sign-out">Logout</i></a>
                </li>
                {{else}}
                {{/if}}   
            </ul> 
    </div>
</nav>

{{!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> --}}