<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">
</head>
<body>
    <div class="about-section">
        <h1 >About Us</h1>
        <pre></pre>
        <p >Objective of our project is to create an interactive user friendly app where people can post their question's, images and can reply to anyone’s
        Queries or post.
</p >
        <p >We are building Social Media Web Application where people will login through Google, Facebook or Linkedin Account .Once
        they sign in to our project then we will get their data images from Google, Facebook or Linkedin database and then will
        display their information on our web pages . On our site we will let them post whatever they want ,it could be image or
        any comment.There is mentor section where college students can find their respective college mentors.They can contact them and should take their guidance.</p>
    </div>
    <pre></pre>
    <h1 class="head" style="text-align:center">Our Team</h1>
    
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://lh3.googleusercontent.com/a-/AOh14Gj4_rlbhQPGejeElheTpWfY8zGD-UU3nxnf0Lhc=s1024-c" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Param Mane</h2>
                    <p class="title">Web Developer (Android/iOS)</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>
    
        <div class="column">
            <div class="card" >
                <img src="https://lh3.googleusercontent.com/a-/AOh14GhGhtZ2QSjG7_kIYHXIYAeDt58FbdI8EmvbztYduw=s1024-c" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Rohit Shinde</h2>
                    <p class="title">Web Developer (Android/iOS)</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>
    
        <div class="column">
            <div class="card">
                <img src="https://lh3.googleusercontent.com/-5AcAknLLTd4/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuclGqsQMDj75tgnkawaEig6EEhgNkQ/s1024-c/photo.jpg" alt="John" style="width:100%">
                <div class="container">
                    <h2>Tarun Datla</h2>
                    <p class="title">Data Analyst</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" >
                <img src="https://lh3.googleusercontent.com/a-/AOh14GjNFo5vZEGM5abC0RMfZypNf5B7X8eiBBqvBM94=s1024-c" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Basavaraj Channur</h2>
                    <p class="title">Data Analyst</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://lh3.googleusercontent.com/a-/AOh14GjkHV9J2yyd0KLsFF5VawiWcBmOtlLotDbAdfstKQ=s1024-c" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Priyam Keshwa</h2>
                    <p class="title">UI and UX Designer</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://lh3.googleusercontent.com/-9WCaNdk45Io/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuclMzypiPtwS0tUqtXBL4Vx7xDx4kQ/s1024-c/photo.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Yashwant Mopada</h2>
                    <p class="title">UI and UX Designer</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <img src="https://lh5.googleusercontent.com/-BGL7tXy-1Q8/AAAAAAAAAAI/AAAAAAAAAAA/AMZuuckHu_Y1la4QNMbQOYDJxuoZsZzIfg/s1024-c/photo.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Vishwas Reddy</h2>
                    <p class="title">UI and UX Designer</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" >
                <img src="https://lh3.googleusercontent.com/a-/AOh14Gjw9AmO2UwWeIyghP6nCq5b6q85Re8okEi2R1ZGlQ=s1024-c" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Randheer</h2>
                    <p class="title">UI and UX Designer</p>
                    <p>Studying Computer Science and Enginnering at IIIT Dharwad</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>