#homepage{
    text-align: center;
}
.btn-facebook {
    background-color: #4aa1f3;
    border-radius : 0%;
    color:#fff;
    width : auto;
}
.btn-facebook:link,
.btn-facebook:visited{
    text-decoration: none;
    background-color: #4aa1f3;
    color:#fff;
}
.btn-gplus{
    background-color: #e44b34;
    border-radius : 0%;
    color:#fff;
    width : auto;
}
.btn-gplus:link,
.btn-gplus:visited{
    text-decoration: none;
    background-color: #e44b34;
    color:#fff;
}
.btn-linkedin{
    background-color:royalblue;
    border-radius : 0%;
    color:#fff;
    width : auto;
}
.btn-linkedin:link,
.btn-linkedin:visited{
    text-decoration: none;
    background-color:royalblue;
    color:#fff;
}
#welcome{
    color:#4aa1f3 ;
}
h1{
    text-align: center;
}
#main{
    margin-top: 60px;
    margin-bottom:50px ;
}
.col-sm-4{
    margin-bottom: 15px;
}
#address{
    color:green;
}
.post-user-pic{
    width: 100px;
    height: auto;
}
.red{
    color:green;
}
.reddish{
    color: red;
}
#comment-user-picture{
    width: 65px;
    height: auto;
}

